outputs/
.DS_Store
__pycache__/
*.pyc
mesh/build/
mesh/psbody_mesh.egg-info/
data/**/output/
data/**/frame_velocity/
data/**/frame_position/
data/**/video_output_signal.mp4
tmp/
*.log
data/vibe_data/yolov3.weights